
<div class="container-fluid" ng-controller="clientController">

    <!--START Client Page-->

    <div class="row bodyRow clientWindow">

        <!-- Start client buttons -->
        <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
            <div class="getStartedBox" style="position: relative; margin-top: 8px; margin-bottom: 8px;">

                <a ID="reportButton" href="@Url.Action("NewReport","client")">
                    <div class="btnInfo_report">
                        <div style="display: inline; position: absolute; left: 8px;"><i class="glyphicon glyphicon-pencil"></i></div>
                        New Report
                    </div>
                </a>
                <div ng-click="buttonsClick(4)" class="btnInfo">
                    <div style="display: inline; position: absolute; left: 8px;"><i class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size: 20px;"></i></div>
                    Messages
                </div>
                <div ng-click="buttonsClick(1)" class="btnInfo">
                    <div style="display: inline; position: absolute; left: 8px;"><i class="glyphicon glyphicon-folder-open"></i></div>
                    Reports Library
                </div>
                <div ng-click="buttonsClick(3)" class="btnInfo">
                    <div style="display: inline; position: absolute; left: 8px;"><i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px;"></i></div>
                    Personal Details
                </div>
            </div>
        </div>
        <!--END Client Buttons-->




        <!-- Main window client content -->
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-xs-12">

            <!-- Client notifications-->
            <div id="reportNotif" class="successNotif" style="display:@ViewBag.showReportNotif">
                <div class="successNotifHeader">
                    <b><i Style="font-size:15px;margin-right:5px;" class="glyphicon glyphicon-ok"></i>Notfication</b>
                    <div onclick="closereportNotif()" class="x">x</div>
                </div>

                <br />
                <b>Emergency form sent successfully.</b>
                <br />
            </div>
            <!-- END Client notifications-->

            <div class="mainWindow" style="margin-top: 8px;">
                <form id="settingsForm">

                    <!-- Client main window-->
                    <div ng-hide="client0" class="textContainer">
                        Welcome to client portal!

                        <br />
                        
                    </div>
                    <!--END client main window-->

                    <!--Start Reports Library-->
                    <div ng-hide="client1" class="textContainer" style="overflow:auto;">

                        <div id="reportsInSystem" class="personalDetailsClass">
                            <i Style="font-size:23px;" class="glyphicon glyphicon-list-alt"></i>
                            <span style="margin-left:10px;">Client Reports Library</span>
                        </div><br />

                        <div id="repLibNotif" style="font-size:small; width: 80%; margin: 10px auto; text-align: center; padding: 3px 0px;" >
                            <Panel Class="alert alert-success" ID="repLibNotifPanel" Style="display:@ViewBag.clientRepListAlert">
                                No reports available!
                            </Panel>
                        </div>

                        <div  id="divResult">

                        </div>

                        <table class="table table - striped" style="font-size:small;display:@ViewBag.showRepDb">
                            <tr>
                                <th>Report ID</th>
                                <th>Date</th>
                                <th>Hour</th>
                                <th>Location</th>
                                <th></th>
                            </tr>

                            @{
                               
                                if (ViewBag.repDB != null)
                                {
                                    foreach (var item in ViewBag.repDB)
                                    {
                                        
                                        <tr id="updatePannelAngular">
                                            <td>

                                                @item.reportID
                                                
                                            </td>
                                            <td>
                                                @item.date
                                            </td>
                                            <td>
                                                @item.hour
                                            </td>
                                            <td>
                                                @item.location
                                            </td>
                                            <td>
                                                @Ajax.ActionLink("click", "showReportInfo", "client",new { id = item.reportID },new AjaxOptions { UpdateTargetId = "divResult" })
                                            
                                                <script>
                                                      function getView() {
                                                             $('#divResult').show();
                                                      }
                                                </script>
                                            
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="updatePannelAngular">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }

                            }

                        </table>



                    </div>
                    <!--END Reports Library-->


                    <!-- Start personal Details-->
                    <div ng-hide="client3" class="textContainer">

                        <div style="width: 80%; margin: 10px auto; text-align: center;">
                            <Panel  CssClass="alert alert-danger" ID="noClientAccount" Visible="false">
                                No details available!
                            </Panel>
                        </div>
                        <div  id="personalDetailsPanel" class="personalDetailsClass">
                            <i Style="font-size:23px;" class="glyphicon glyphicon-tasks"></i>
                            <span style="margin-left:10px;">Personal Details</span>
                        </div><br />
                        <table  class="table table-striped" id="TableDetails2" style="cursor:default">

                            <tr class="colT">
                                <th>Car Category:</th>
                                <td class="colD">
                                    @ViewBag.carCategory
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Car Model:</th>
                                <td class="colD">
                                    @ViewBag.carModel
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Year Of Manufacture:</th>
                                <td class="colD">
                                    @ViewBag.YearOfManuFacture
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>License Plate:</th>
                                <td class="colD">
                                    @ViewBag.liceansePlate
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Insurance Company Name:</th>
                                <td class="colD">
                                    @ViewBag.InsuranceCompanyName
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Insurance Agent Name:</th>
                                <td class="colD">
                                  @ViewBag.InsuranceAgentName
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Insurance Agent Phone:</th>
                                <td class="colD">
                                    @ViewBag.InsuranceAgentPhone
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Insurance Policy Number:</th>
                                <td class="colD">
                                    @ViewBag.InsurancePolicyNumber
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Policy Expiration:</th>
                                <td class="colD">
                                    @ViewBag.PolicyExpiration
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Driving License Number:</th>
                                <td class="colD">
                                    @ViewBag.DrivingLicenseNumber
                                </td>
                            </tr>

                            <tr class="colT">
                                <th>Car Owner Name:</th>
                                <td class="colD">
                                    @ViewBag.CarOwnerName
                                </td>
                            </tr>
                            <tr class="colT">
                                <th>Car Owner ID:</th>
                                <td class="colD">
                                    @ViewBag.CarOwnerID
                                </td>
                            </tr>

                        </table>
                    </div>
                    <!-- END personal Details-->


                    <!-- Start Messages container -->
                    <div ng-hide="client4" class="textContainer">

                                <div id="messagesMain" class="personalDetailsClass">
                                    <i Style="font-size:23px;" class="glyphicon glyphicon-tasks"></i>
                                    <span style="margin-left:10px;">Messages</span>
                                </div><br />

                                <!--Alert messages  -->
                                <div style="width: 80%; margin: 10px auto; text-align: center;display:@ViewBag.showMsgAlert">
                                    <div Class="alert alert-danger" ID="noMessages">
                                        There are no messages!
                                    </div>
                                </div>

                                <!--Messages Table  -->

                        <table class="table table - striped" style="font-size:small;display:@ViewBag.showMsgDb">
                            <tr>
                                <th>Date</th>
                                <th>Message</th>
                                <th></th>
                            </tr>
                            @{

                                if (ViewBag.messagesDb != null)
                                {
                                    foreach (var item in ViewBag.messagesDb)
                                    {

                                        <tr id="updatePannelAngular">
                                            <td>
                                                @item.date

                                            </td>
                                            <td>
                                                @item.content
                                            </td>
                                            <td>
                                                @Ajax.ActionLink("click", "showReportInfo", "client", new { id = item.msgNum }, new AjaxOptions { UpdateTargetId = "divResult" })

                                                <script>
                                                      function getView() {
                                                             $('#divResult').show();
                                                      }
                                                </script>

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="updatePannelAngular">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }

                            }
                        </table>

                    </div>
                    <!-- END Messages container -->

                </form>
            </div>


        </div>
    </div>
</div>

<!--END Client Page-->


<!-- JS Functions -->
<script type="text/javascript">

    function closereportNotif() {
        $('#reportNotif').hide();

    }
</script>

